
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark " aria-label="Fourth navbar example" style="position: fixed;z-index: 999;">
            <div class="container-fluid">

              <a class="navbar-brand" href=""><img src="https://i.pinimg.com/originals/ee/80/ed/ee80ed052f6d96c3c1f4726bca6d73eb.jpg" width="60px" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"routerLink="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['team']">About us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="crud">cruddata</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="view">view link</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                  </li>
                </ul>
                <form class="me-2">
                  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                <div class="text-end">
                    <button type="button" class="btn btn-success me-2 media">Search</button>
                    <button type="button" class="btn btn-primary media"data-mdb-toggle="modal"
                    data-mdb-target="#loginModal1">login</button>
                  </div>
              </div>
            </div>
          </nav>
    </div>

</div>






<!------SIDE  NAVBAR-->