<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    </div>
</nav>
<!-----------data fetch------------->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-bordered mt-5">
            <thead class="text-center">
                <tr>
                    <th class="bg-dark text-white">Id</th>
                    <th class="bg-dark text-white">UserName</th>
                    <th class="bg-dark text-white">Email id</th>
                    <th class="bg-dark text-white">age</th>
                    <th class="bg-dark text-white">Phone No</th>
                    <th class="bg-dark text-white">Pass</th>
                    <th class="bg-dark text-white w-25">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of getdatas"> 
                    <td>{{a._id}}</td>
                    <td>{{a.username}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.age}}</td>
                    <td>{{a.phone}}</td>
                    <td>{{a.password}}</td>
                    <td [style]="'width:250px;text-align:center'">
                        <button type="button" class="btn btn-primary btn-sm me-2" [routerLink]="['view/'+a._id]">view</button>
                        <button type="button" class="btn btn-warning btn-sm me-2"[routerLink]="['edit/'+a._id]">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="mydeletrecord(a._id)">Del</button>
                    </td>
                </tr> 
            </tbody> 
        </table>
    </div>
 <!----------crud data------------->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>